<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">

    <title>Request History</title>
    
</head>
<body>
    
    <%- include('layouts/navbar'); -%>

    <div class="container px-4 px-lg-5 mt-4"> 
        <h1><%= user.username%>'s Requests History</h1>

        <% userRequests.forEach(request => { %>
          <div class="request-item">
            <p><strong>Route:</strong> <%= request.request_route %></p>
            <p><strong>Data:</strong> <%= request.request_data %></p>
            <p><strong>Timestamp:</strong> <%= request.timestamp %></p>
            <% if (request.request_route != "/login" && request.request_route != "/logout") { %>
                <a href="/view-response?requestId=<%= request._id %>&sessionId=<%= sessionId %>" class="btn btn-primary">View Response</a>
            <% } %>
          </div>
        <% }); %>
    </div>
    

    <%- include('layouts/footer'); -%> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
